html {
    min-height: 50%;
    font-size: 62.5%;
}

body {
    margin: 10%;
    padding: 0;
    background-color: rgb(53, 53, 225);
    min-height: 50%;
    padding-bottom: 5rem;
    font-size: 1.3rem;
    h1, .label {
        color: #ffffff;
    }
    .label {
        font-size: 2rem;
        padding-right: 10px;
        letter-spacing: 2px;
    }
    #inputBuscador {
        border-radius: 5px;
        border: none;
        outline: none;
        padding: 5px 10px;
        height: 30px;
    }
    #btnBuscar {
        border-radius: 15px;
        border: none;
        background-color: rgb(151, 181, 226);
        padding: 8px;
        width: 65px;
        letter-spacing: 2px;
        font-weight: bold;
    }
    
}